.six {
   padding-top: 14px;
   overflow: hidden;
}

.six .service {
   width: 234px;
   height: 170px;
   background-color: #5F5750;;
   float: left;
}

.six .service li {
   width: 64px;
   height: 64px;
   float: left;
   font-size: 12px;
   text-align: center;
   margin-left: 10px;
   margin-top: 15px;
}

.six .service li:hover {
   cursor: pointer;
}

.six .service li:hover a {
   color: #fff;
}

.six .service li:before {
   content: "";
   width: 1px;
   height: 70px;
   background-color: #665E57;
   display: block;
   position: relative;
   top: 1px;
   left: -3px;
   float: left;
}

.six .service li:after {
   content: "";
   width: 64px;
   height: 1px;
   background-color: #665E57;
   display: block;
   position: relative;
   top: -75px;
   left: 2px;
   float: left;

}

.six .service a {
   display: block;
   margin-top: 12px;
   color: #C8C5C2;
}

.six .service img {
   height: 24px;
   width: 24px;
   display: inline-block;
   background-color: #5F5750;
}

.six .big {
   float: right;
   display: flex;
}
.six .big a{
   height: 0;
   display: block;
}

.six .big img {
   display: block;
   width: 316px;
   height: 170px;
   margin-left: 14px;
   vertical-align: top;
}
